<div class="Contenedor">
    <h1>Carrito de compra</h1>
    <div class="cardshop" *ngFor="let compra of listaCompra; let i = index">
        <div class="imapre">
            <img src={{compra.img}} alt="" class="img">
        </div>
        <div class="infoshop">
            <h3>Suéter con diseño personalizado</h3>
            <p>Color: {{compra.color}}</p>
            <p>Talla: {{compra.talla}}</p>
            <p>Diseño: </p>
            <h1 class="Precio">$Precio</h1>
            <div class="quantity">
                <input 
                    type="number" 
                    [(ngModel)]="editText" 
                    *ngIf="editingText" 
                    (keyup.enter)="finishEdit()" 
                    (blur)="finishEdit()" 
                    min="11" 
                    style="width: 10%;">
                <select 
                    [(ngModel)]="selectedQuantity" 
                    *ngIf="!editingText" 
                    (change)="onQuantityChange($event)">
                    <option value="0">0 (Eliminar)</option>
                    <option *ngFor="let num of quantities" [value]="num">Cantidad: {{ num }}</option>
                    <option value="10+">Cantidad {{mayor}}</option>
                </select>
                <button class="btnElminar" (click)="ElminarTarea(i)">Eliminar</button>
            </div>
        </div>
    </div>
</div>
