<body>
    <div class="info">
        <h1>Infromacion y direccion</h1>
        <div class="names">
            <input type="text" class="inputNames" placeholder="Nombre Completo">
            <input type="text" class="inputNames" placeholder="Apellidos Completo">
        </div>
        <input type="number" placeholder="Numero Telefonico" class="inputL">
        <div class="x">
            <label for="">Ciudad</label>
            <select name="Ciudad" style=" margin: 16px; margin-left: 0; margin-right: 0;">
                <option></option>
                <option>Barranquilla</option>
                <option>Soledad</option>
            </select>
        </div>

        <input type="text" placeholder="Barrio" class="inputL">
        <div class="x">
            <label for="">Calle/Número/Apartamento</label>
            <input type="text" placeholder="Dirrecion" style=" margin: 16px; margin-left: 0; margin-right: 0;">
        </div>
    </div>

    <div class="separador"></div>

    <div class="metodosPagos">
        <h1>Selecicone su metodo de pago</h1>
        <div class="botonesPagos">
            <button class="metodo">
                <img src="\utils\nequi-colombia-svgrepo-com - copia.svg" alt="" style="width: 25%; height: auto;">
                Nequi</button>

            <button class="metodo">
                <img src="iconsDashboard\cart.svg" alt="" style="width: 20%; height: auto;">
                Contra Entrega</button>

            <button class="metodo">
                <img src="/utils/geo-alt-fill.svg" alt="" style="width: 15%; height: auto;">
                Recogelo tu mismo</button>

        </div>

    </div>

</body>