body{
    background-color: rgb(247, 246, 246);
}


.carousel-inner img {
    margin-top: 2%;
    max-height: 60vh; 
    object-fit: cover; 
}

.puclicidad {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .puclicidad {
        flex-direction: column;
    }
}


.publicidad {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .pu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 24px;
    text-align: center;
    background-color: #fff;
  }

  .pu svg {
    margin-bottom: 15px;
  }

  .pu-text {
    margin-top: 15px;
  }



.truck {
    background-color: rgb(228, 228, 228);
    padding: 24px;
    clip-path: circle(40%);
    width: auto;
    height: auto;
}

.textTitle {
    background-color: rgba(0, 0, 0, 0.637);
    width: 30%;
    margin: 25px auto 0;
    border-radius: 15px;
    padding: 8px;
}


.textsub {
    background-color: rgba(0, 0, 0, 0.637);
    width: 40%;
    margin: -1px auto 0;
    border-radius: 15px;
    padding: 8px;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
  }
  
  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    padding: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
  }
  
  .image-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  .personalizarcamisas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
    border-radius: 20px;
    background-image: url("https://cdn.latostadora.com/img/designtoollandings/tshirts/es/mainbanner.desktop.webp");
    background-size: cover;
    /* Ajustar la imagen para que cubra todo el contenedor */
    background-position: center;
    /* Centrar la imagen en el contenedor */
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
}

.divbutom {
    background-color: rgba(255, 255, 255, 0.685);
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 -1px 10px rgba(255, 0, 0, 0.7);
    margin-left: 65%;
    margin-top: 20%;
    margin-bottom: 3%;
}

.btnperzonalizar {
    margin-top: 24px;
    border: 2px solid red;
    border-radius: 8px;
    background-color: white;
    padding: 8px;
    color: red;
    font-weight: bold;
    box-shadow: 0 -1px 10px rgba(255, 0, 0, 0.7);
}

.contactos {
  bottom: 0;
  background-color: black;
  color: white;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}