.contenedor {
    display: flex;
}
.opciones {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 16px;
    border-radius: 15px;
    background-color: transparent;
    font-weight: bold;
    margin: 20px;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
}
.separador {
    width: 95%;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}
.colorSelector{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.color {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    transition: box-shadow 0.2s ease;
    
}
.color:hover {
    box-shadow: 0 0 0 2px orange !important;
    cursor: pointer;
}
.color.selected {
    box-shadow: 0 0 0 2px orange;
}
.fondo{
    background-color: lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diseño{
    position: relative;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 110vh;
}
  #container {
    border: 3px solid black;
    width: 36%;
    height: 70%;
    margin-top: 10%;
    position: absolute;
  }

  input[type="file"] {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  .btnElminiar{
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-weight: bold;
    margin: 20px;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  }
  .camisa{
    width: 80%;
    height: 90%;
}

.Pedidos{
    padding: 16px;
    border: 0;
    background-color: aqua;
    width: 80%;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 16px;
}