.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.dialog-content {
    white-space: pre-line;
    margin: auto;
    text-align: center;
    font-size: 16px;
  }
  